/LegendaryChampionsArena/[Ll]ibrary/
/LegendaryChampionsArena/[Tt]emp/
/LegendaryChampionsArena/[Oo]bj/
/LegendaryChampionsArena/[Bb]uild/
/LegendaryChampionsArena/[Bb]uilds/
/LegendaryChampionsArena/[Ll]ogs/
/LegendaryChampionsArena/[Uu]ser[Ss]ettings/

/LegendaryChampionsArena/[Mm]emoryCaptures/
/LegendaryChampionsArena/[Rr]ecordings/

/LegendaryChampionsArena/[Aa]ssets/AssetStoreTools*

/LegendaryChampionsArena/[Aa]ssets/Plugins/Editor/JetBrains*

/LegendaryChampionsArena/.vs/
/LegendaryChampionsArena/.gradle/

/LegendaryChampionsArena/ExportedObj/
/LegendaryChampionsArena/.consulo/
/LegendaryChampionsArena/*.csproj
/LegendaryChampionsArena/*.unityproj
/LegendaryChampionsArena/*.sln
/LegendaryChampionsArena/*.suo
/LegendaryChampionsArena/*.tmp
/LegendaryChampionsArena/*.user
/LegendaryChampionsArena/*.userprefs
/LegendaryChampionsArena/*.pidb
/LegendaryChampionsArena/*.booproj
/LegendaryChampionsArena/*.svd
/LegendaryChampionsArena/*.pdb
/LegendaryChampionsArena/*.mdb
/LegendaryChampionsArena/*.opendb
/LegendaryChampionsArena/*.VC.db

/LegendaryChampionsArena/*.pidb.meta
/LegendaryChampionsArena/*.pdb.meta
/LegendaryChampionsArena/*.mdb.meta

/LegendaryChampionsArena/sysinfo.txt

/LegendaryChampionsArena/*.apk
/LegendaryChampionsArena/*.aab
/LegendaryChampionsArena/*.unitypackage
/LegendaryChampionsArena/*.app

/LegendaryChampionsArena/crashlytics-build.properties

/LegendaryChampionsArena/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

/LegendaryChampionsArena/[Aa]ssets/[Ss]treamingAssets/aa.meta
/LegendaryChampionsArena/[Aa]ssets/[Ss]treamingAssets/aa/*
